.parentContainer {
  width: 50%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 3rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 20px;
}

.addressInput {
  padding: 7px;
  border: 1px solid rgb(181, 181, 181);
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  font-family: inherit;
}

.addressInput:focus {
  border: 1px solid #0d9488;
}

.submitButton {
  display: block;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #0d9488;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  margin: 0 auto;
  font-family: inherit;
}

.submitButton:hover {
  background-color: #0d9489e0;
}

.submitButton:disabled {
  background-color: rgb(255, 161, 161);
  cursor: not-allowed;
}

.distanceInfoContainer {
  text-align: center;
}

.loading {
  margin: 10px 0;
  text-align: center;
}

.errorMessage {
  text-align: center;
  color: rgb(255, 44, 44);
}

@media (max-width: 1000px) {
  .parentContainer {
    width: 90%;
  }
}
