.parentContainer {
  width: 50%;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 20px;
}

.addressInput {
  padding: 7px;
  border: 1px solid rgb(181, 181, 181);
  outline: none;
  font-size: 1rem;
  border-radius: 3px;
}

.addressInput:focus {
  border: 1px solid rgb(16, 16, 16);
}

.submitButton {
  padding: 10px 15px;
  font-size: 0.9rem;
  background-color: skyblue;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
}

.submitButton:hover {
  background-color: rgb(161, 224, 249);
}

.submitButton:disabled {
  background-color: rgb(255, 161, 161);
  cursor: not-allowed;
}

.distanceInfoContainer {
  text-align: center;
}

.loading {
  margin: 10px 0;
  text-align: center;
}
